/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password';